<div class="form-group">
  <label for="inputMatch">Pattern to Match</label>
  <input 
    type="text" 
    id="inputMatch"
    name="check[match]" 
    value="<%= check.getPollerParam('match') || '' %>" 
    class="form-control" 
    placeholder="Uses regular expressions. Leave blank to disable pattern detection."
  />
</div>