<div class="form-group">
  <div class="col-md-12">
    <label class="col-md-2 control-label">Pattern to match</label>
    <div class="col-md-10">
      <input type="text" name="check[match]"
        value="<%= check.getPollerParam('match') || '' %>"
        class="form-control"
        placeholder="Uses regular expressions. Leave blank to disable pattern detection." />
    </div>
  </div>
</div>
