          <div class="login-form">
            <h2>New user request</h2>
            <form action="/register" method="POST">
                <fieldset>
                    <div class="clearfix">
                        <input type="text" placeholder="Name">
                    </div>

                    <div class="clearfix">
                        <input type="text" placeholder="Email">
                    </div>

                    <div class="clearfix">
                        <input type="password" placeholder="Password">
                    </div>

                    <div class="clearfix">
                        <input type="password" placeholder="Confirm Password">
                    </div>
                    <button class="btn primary" type="submit">Register</button>
                </fieldset>
            </form>
          </div>  