html, body {
  background-color: #eee;
}

.container > section {
  background-color: #fff;
  padding: 20px;
  margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
  -webkit-border-radius: 0 0 6px 6px;
     -moz-border-radius: 0 0 6px 6px;
          border-radius: 0 0 6px 6px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
          box-shadow: 0 1px 2px rgba(0,0,0,.15);
  min-height: 400px;
}

.footer {
  padding: 35px 0 36px;
  border-top: 1px solid #E5E5E5;
}

#check_summary li {
  padding-top: 10px;
}

#check_summary li strong {
  font-size: 2.5em;
}

#check_summary li .label {
  font-size: 1em;
  margin: 10px;
  vertical-align: 37%;
}

h1 {
  margin-bottom: 20px;
}

div.btn-toolbar {
  height:20px;
}

#events ul {
  margin-top: 1em;
  margin-left: 0;
  list-style: none;
}

#events li {
  margin-bottom: 0.5em;
}

.green {
  color: #468847;
}

.orange {
  color: #C27100;
}

.red {
  color: #B94A48;
}

tfoot {
  color: #DDD;
}

table .header {
  cursor: pointer;
}
table .header:after {
  content: "";
  float: right;
  margin-top: 7px;
  border-width: 0 4px 4px;
  border-style: solid;
  border-color: #000000 transparent;
  visibility: hidden;
}
table .headerSortUp, table .headerSortDown {
  background-color: #f7f7f9;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
}
table .header:hover:after {
  visibility: visible;
}
table .headerSortDown:after, table .headerSortDown:hover:after {
  visibility: visible;
  filter: alpha(opacity=60);
  -moz-opacity: 0.6;
  opacity: 0.6;
}
table .headerSortUp:after {
  border-bottom: none;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #000000;
  visibility: visible;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  filter: alpha(opacity=60);
  -moz-opacity: 0.6;
  opacity: 0.6;
}