h1, h2, h3 {
  font-weight: normal;
}

h3 {
  font-size: 20px;
}

.footer {
  padding: 35px 0 36px;
  border-top: 1px solid #E5E5E5;
}

#new_events a {
  color: orange;
}

#new_events a:hover {
  color: white;
}

#check_summary li {
  padding-top: 2px;
}

#check_summary li strong {
  font-size: 2.5em;
}

#check_summary li .label {
  font-size: 1em;
  margin: 10px;
  vertical-align: 37%;
}

div.btn-toolbar {
  height:20px;
}

#welcome {
  text-align: center;
  margin-top: 180px;
}

#events ul {
  margin-top: 1em;
  margin-left: 0;
  list-style: none;
}

#events li {
  padding-bottom: 0.5em;
}

#events li.new {
  background-color: #FFECCA;
}

#events li.new:first-child {
  padding-top: 0.5em;
}

#singleStat .row {
  text-align: center;
  font-size: 4em;
}

#singleStat .row h3 {
  margin: 30px 0 10px 0;
}

.uptimeBar {
  height:15px;
  position: relative;
  background: #bfd255; /* Old browsers */
  background: -moz-linear-gradient(top,  #bfd255 0%, #8eb92a 50%, #72aa00 51%, #9ecb2d 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#bfd255), color-stop(50%,#8eb92a), color-stop(51%,#72aa00), color-stop(100%,#9ecb2d)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #bfd255 0%,#8eb92a 50%,#72aa00 51%,#9ecb2d 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #bfd255 0%,#8eb92a 50%,#72aa00 51%,#9ecb2d 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #bfd255 0%,#8eb92a 50%,#72aa00 51%,#9ecb2d 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #bfd255 0%,#8eb92a 50%,#72aa00 51%,#9ecb2d 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bfd255', endColorstr='#9ecb2d',GradientType=0 ); /* IE6-9 */
}
.timeline .uptimeBar {
  height: 22px;
}
.uptimeBar div {
  position:absolute;
  height:inherit;
  margin:0;
}

.uptimeBar .down {
  min-width: 1px;
  background: #efc5ca; /* Old browsers */
  background: -moz-linear-gradient(top,  #efc5ca 0%, #d24b5a 50%, #ba2737 51%, #f18e99 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#efc5ca), color-stop(50%,#d24b5a), color-stop(51%,#ba2737), color-stop(100%,#f18e99)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #efc5ca 0%,#d24b5a 50%,#ba2737 51%,#f18e99 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #efc5ca 0%,#d24b5a 50%,#ba2737 51%,#f18e99 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #efc5ca 0%,#d24b5a 50%,#ba2737 51%,#f18e99 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #efc5ca 0%,#d24b5a 50%,#ba2737 51%,#f18e99 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#efc5ca', endColorstr='#f18e99',GradientType=0 ); /* IE6-9 */
}

.uptimeBar .down:hover {
  background: #B94A48;
}

.uptimeBar .pause {
  background: #6db3f2; /* Old browsers */
  background: -moz-linear-gradient(top,  #6db3f2 0%, #54a3ee 50%, #3690f0 51%, #1e69de 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6db3f2), color-stop(50%,#54a3ee), color-stop(51%,#3690f0), color-stop(100%,#1e69de)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #6db3f2 0%,#54a3ee 50%,#3690f0 51%,#1e69de 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #6db3f2 0%,#54a3ee 50%,#3690f0 51%,#1e69de 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #6db3f2 0%,#54a3ee 50%,#3690f0 51%,#1e69de 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #6db3f2 0%,#54a3ee 50%,#3690f0 51%,#1e69de 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6db3f2', endColorstr='#1e69de',GradientType=0 ); /* IE6-9 */
}

.uptimeBar .pause:hover {
  background: #3A87AD;
}

.green {
  color: #468847;
}

.orange {
  color: #C27100;
}

.red {
  color: #B94A48;
}

.blue {
  color: #3A87AD;
}

.week-end {
  background-color: #eee;
}

tfoot {
  color: #DDD;
}

table .header {
  cursor: pointer;
}
table .header:after {
  content: "";
  float: right;
  margin-top: 7px;
  border-width: 0 4px 4px;
  border-style: solid;
  border-color: #000000 transparent;
  visibility: hidden;
}
table .headerSortUp, table .headerSortDown {
  background-color: #f7f7f9;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
}
table .header:hover:after {
  visibility: visible;
}
table .headerSortDown:after, table .headerSortDown:hover:after {
  visibility: visible;
  filter: alpha(opacity=60);
  -moz-opacity: 0.6;
  opacity: 0.6;
}
table .headerSortUp:after {
  border-bottom: none;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #000000;
  visibility: visible;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  filter: alpha(opacity=60);
  -moz-opacity: 0.6;
  opacity: 0.6;
}

div.tagsinput span.tag span {
  text-decoration: underline; cursor: pointer;
}

table.chart td {
  width: 12%;
}

table.chart th.date {
  width: 30%;
}

table.chart th.uptimeCol {
  width: 22%;
}