<script src="/otherEmail/javascripts/jquery.autoresize.js"></script>
<fieldset>
  <div class="control-group">
    <label class="control-label">Additional Emails</label>
    <div class="controls">
      <textarea name="check[otherEmail]" class="span8" rows="3" placeholder="Add comma separated email list"/><%= check.getPollerParam('otherEmail') || '' %></textarea>
    </div>
  </div>
</fieldset>
<script type="text/javascript">
jQuery(function($) {
  $('#check_form textarea[name="check[otherEmail]"]').autoResize();
});
</script>