<div class="tab-pane" id="pings">
  <div style="float:right;margin-bottom:0;height:28px">
  <label class="checkbox">
    <input type="checkbox" name="optionsCheckboxes" value="option1">
    <span>Auto-update pings</span>
  </label>
  </div>
  <div>
    <a class="recent btn" href="#">&lt; More Recent</a>
    <a class="old btn" href="#">Older &gt;</a>
  </div>
  <table class="table">
    <thead>
      <tr><th>Date</th><th>Status</th><th>Response time</th><th>Error</th></tr>
    </thead>
    <tbody></tbody>
  </table>
  <div>
    <a class="recent btn" href="#">&lt; More Recent</a>
    <a class="old btn" href="#">Older &gt;</a>
  </div>
</div>
<script id="ping_template" type="text/template">
<tr class="{{= ping.isUp && ping.isResponsive ? 'green' : 'red' }}">
  <td>{{= new Date(ping.timestamp).toLocaleString() }}</td>
  <td>
    <span class="label {{= (ping.isUp ? 'label-success' : 'label-important') }}">{{= (ping.isUp ? 'Up' : 'Down') }}</span>
    {{ if (ping.isUp && !ping.isResponsive) { }}<span class="label label-important">Slow</span>{{ } }}
  </td>
  <td>{{= ping.time }}</td>
  <td>{{= ping.error || '' }}</td>
</tr>
</script>
<script>
page.ping = 0;
var interval;
$(document).ready(function() {
  var ping_template = document.getElementById('ping_template').innerHTML;
  var updatePings = function() {
    $.getJSON('/api/pings/check/<%= check._id %>/' + page.ping, function(pings) {
      var lines = [];
      $.each(pings, function(key, ping) {
        lines.push(ejs.render(ping_template, { ping: ping }));
      });
      $('#pings tbody').html(lines.join(''));
    });
  };
  $('#pings input:checkbox').click(function() {
    if (interval) {
      window.clearInterval(interval);
    } else {
      interval = window.setInterval(updatePings, 5000);
    }
  });
  handlePagination('ping', '#pings', updatePings);
});
</script>

