<div class="tab-pane" id="pings">
  <div class="btn-toolbar">
    <div class="btn-group pull-left">
      <a class="old btn" href="#">&lt;</a>
      <a class="recent btn" href="#">&gt;</a>
    </div>
  </div>
  <table class="table">
    <thead>
      <tr><th>Date</th><th>Status</th><th>Response time</th><th>Error</th></tr>
    </thead>
    <tbody></tbody>
  </table>
  <div class="btn-toolbar">
    <div class="btn-group pull-left">
      <a class="old btn" href="#">&lt;</a>
      <a class="recent btn" href="#">&gt;</a>
    </div>
  </div>
  <div style="clear:left"></div>
</div>
<script id="ping_template" type="text/template">
<tr class="{{= !ping.isUp ? 'red' : !ping.isResponsive ? 'orange' : '' }}">
  <td>{{= moment(ping.timestamp).format('LLLL') }}</td>
  <td>
    <span class="label {{= (ping.isUp ? 'label-success' : 'label-important') }}">{{= (ping.isUp ? 'Up' : 'Down') }}</span>
    {{ if (ping.isUp && !ping.isResponsive) { }}<span class="label label-warning">Slow</span>{{ } }}
  </td>
  <td>{{= ping.time }}</td>
  <td>{{= ping.error || '' }}</td>
</tr>
</script>
<script>
page.ping = 1;
var interval;
$(document).ready(function() {
  $('a[data-toggle="tab"][href="#pings"]').one('shown', function(e) { 
    var ping_template = document.getElementById('ping_template').innerHTML;
    var updatePings = function() {
      $.getJSON('/api/pings/check/<%= check._id %>/' + page.ping, function(pings) {
        var lines = [];
        $.each(pings, function(key, ping) {
          lines.push(ejs.render(ping_template, { ping: ping }));
        });
        $('#pings tbody').html(lines.join(''));
      });
    };
    socket.on('connect', function() {
      socket.emit('set check', '<%= check._id %>');
      socket.on('ping', function(ping) {
        if (page.ping == 1) {
          var line = $(ejs.render(ping_template, { ping: ping }));
          $('#pings tbody').prepend(line);
          line.fadeOut().fadeIn();
        }
      });
    });
    handlePagination('ping', '#pings', updatePings);
  });
});
</script>

