<div class="tab-pane" id="singleStat">
  <div class="btn-toolbar">
    <div class="btn-group pull-left">
      <a class="old btn" href="#">&lt;</a>
      <a class="recent btn" href="#">&gt;</a>
    </div>
    <div class="btn-group pull-right" data-toggle="buttons-radio" id="statPeriod">
      <a class="btn active" data-period="hour" data-increment="3600000" href="#">hour</a>
      <a class="btn" data-period="day" data-increment="86400000" href="#">day</a>
      <a class="btn" data-period="month" data-increment="2505600000" href="#">month</a>
    </div>
  </div>
  <div class="row">
    <h2 id="statPeriodTitle"><small></small></h2>
  </div>
  <div class="row">
    <div class="span6">
      <h3 title="Percentage of all pings up">Availability</h3>
      <span id="availability"></span>%
    </div>
    <div class="span6">
      <h3 title="Percentage of all pings below slow threshold">Responsiveness</h3>
      <span id="responsiveness"></span>%
    </div>
  </div>
  <div class="row">
    <div class="span6">
      <h3 title="Total downtime">Downtime</h3>
      <span id="downtime"></span>s
    </div>
    <div class="span6">
      <h3 title="Average response time of all pings">Avg. Response time</h3>
      <span id="responseTime"></span>ms
    </div>
  </div>
</div>
<script>
var statPeriod = 'hour';
var statIncrement = 1000 * 60 * 60;
var statTime = Date.now();
$(document).ready(function() {
  $('a[data-toggle="tab"][href="#singleStat"]').one('shown', function(e) {
    var updateStats = function() {
      $.getJSON('<%= url %>' + statPeriod + '/' + statTime, function(stat) {
        $('#availability').text(stat.availability.replace('.000', ''));
        $('#responsiveness').text(stat.responsiveness.replace('.000', ''));
        $('#downtime').text(stat.downtime);
        $('#responseTime').text(stat.responseTime);
        var begin = new Date(parseInt(stat.begin));
        var end = new Date(parseInt(stat.end));
        $('#statPeriodTitle small').text('From ' +  begin.toLocaleDateString() + ', ' + begin.toLocaleTimeString() + ' to ' + end.toLocaleDateString() + ', ' + end.toLocaleTimeString());
      });
    }
    updateStats();
    $('#statPeriod a').click(function(e) {
      statPeriod = $(this).data('period');
      statIncrement = $(this).data('increment');
      updateStats();
      e.preventDefault();
    });
    $('#singleStat .old').click(function() {
      statTime -= statIncrement;
      $('#singleStat .recent').show();
      updateStats();
    });
    $('#singleStat .recent').click(function() {
      statTime += statIncrement;
      if ((statTime + statIncrement) >= Date.now()) $(this).hide();
      updateStats();
    }).hide();
  });
});
</script>
