<div class="tab-pane" id="stats">
  <div class="btn-toolbar" style="text-align:right">
    <div class="btn-group" data-toggle="buttons-radio" id="chartPeriod">
      <a class="btn active" href="#" id="hourly" class="active">Hourly</a>
      <a class="btn" href="#" id="daily">Daily</a>
      <a class="btn" href="#" id="monhly">Monthly</a>
    </div>
  </div>
  <div id="chart" style="width:920px;height: 400px"></div>
  <div>
    <a class="recent btn" href="#">&lt; More Recent</a>
    <a class="old btn" href="#">Older &gt;</a>
  </div>
  <table class="table">
    <thead>
      <tr><th>Date</th><th>Uptime</th><th>Downtime</th><th>Avg. Response time</th></tr>
    </thead>
    <tbody></tbody>
  </table>
  <div>
    <a class="recent btn" href="#">&lt; More Recent</a>
    <a class="old btn" href="#">Older &gt;</a>
  </div>
</div>
<script id="stat_template" type="text/template">
<tr class="{{= (stat.ups / stat.count == 1) ? 'green' : 'red' }}">
  <td>{{= new Date(stat.timestamp).toLocaleString() }}</td>
  <td>{{= ((stat.ups / stat.count) * 100).toFixed(3) }}%</td>
  <td>{{= (stat.downtime / 1000).toFixed() }}s</td>
  <td>{{= Math.round(stat.time / stat.count) }}ms</td>
</tr>
</script>
<script>
var stat_template = document.getElementById('stat_template').innerHTML;
page.stat = 0;
var updateStats = function() {
  $.getJSON('<%= url.updateStat %>' + page.stat, function(stats) {
    var lines = [];
    $.each(stats, function(key, stat) {
      lines.push(ejs.render(stat_template, { stat: stat }));
    });
    $('#stats tbody').html(lines.join(''));
  });
}
var chartPeriod = 'hourly';
var chart;

var MeetupForChart = function() {
  this.uptime = false;
  this.downtime = false;
}
MeetupForChart.prototype.send = function(object, callback) {
  if (object.uptime) this.uptime = object.uptime;
  if (object.responseTime) this.responseTime = object.responseTime;
  if (this.uptime && this.responseTime) {
    callback(this.uptime, this.responseTime);
    this.uptime = false;
    this.responseTime = false;
  }
}

var drawChart = function(uptime, responseTime) {
  var uptimeBoundaries = getBoundaries(uptime);
  chart = new Highcharts.Chart({
    chart: {
      renderTo: 'chart',
      zoomType: 'x',
      alignTicks: false
    },
    title: null,
    legend: { enabled: false },
    xAxis: { type: 'datetime' },
    yAxis: [{
       title: { text: 'Uptime', style: { color: '#4572A7' }},
       labels: { style: { color: '#4572A7' }},
       min: uptimeBoundaries.min < 90 ? uptimeBoundaries.min - 10 : 90,
       max: 100
    }, { 
      title: { text: 'Response Time', style: { color: '#89A54E' }},
      labels: { style: { color: '#89A54E' }},
      opposite: true,
      gridLineWidth: 0
    }],
    series: [
      { name: "Uptime", data: uptime, type: 'area', color: '#4572A7' }, 
      { name: "Response Time", data: responseTime, yAxis: 1, type: 'spline', color: '#89A54E' }
    ],
    tooltip: {
      formatter: function() {
        return Highcharts.dateFormat('%e. %b %Y, %H:00', this.x) +'<br/>' 
           + (this.series.name == 'Uptime' ? 'Uptime: ' : 'Response Time: ')
           + this.y
           + (this.series.name == 'Uptime' ? '%' : 'ms');
      }
    },
  });
}

var updateChart = function() {
  var meetup = new MeetupForChart();
  $.getJSON('<%= url.chart %>' + chartPeriod + 'Uptime', function(uptime) {
    meetup.send({uptime: uptime}, drawChart);
  });
  $.getJSON('<%= url.chart %>' + chartPeriod + 'ResponseTime', function(responseTime) {
    meetup.send({responseTime: responseTime}, drawChart);
  });
}

var getBoundaries = function(series) {
  var min = null;
  var max = null;
  series.forEach(function(element) {
    if (min === null || element[1] < min) {
      min = element[1];
    }
    if (max === null || element[1] < max) {
      max = element[1];
    }
  });
  return { min: min, max: max };
}

$(document).ready(function() {
  $('#chartPeriod a').eq(0).click(function() { chartPeriod = 'hourly'; updateChart(); });
  $('#chartPeriod a').eq(1).click(function() { chartPeriod = 'daily'; updateChart(); });
  $('#chartPeriod a').eq(2).click(function() { chartPeriod = 'monthly'; updateChart(); });
  updateChart();
  handlePagination('stat', '#stats', updateStats);
});
</script>
