<div class="tab-pane" id="details">
  <table class="table">
    <tr><td>Name</td><td><%= tag.name %></td></tr>
    <tr><td>Last tested on</td><td><%= tag.lastUpdated.toLocaleString() %></td></tr>
    <tr><td>Checks</td><td id="tag_checks"></td></tr>
  </table>
</div>
<script>
$(document).ready(function() {
  var check_links = [];
  $.getJSON('/api/check/tag/<%= tag.name %>', function(checks) {
    $.each(checks, function(key, check) {
      check_links.push('<a href="/dashboard/check/' + check._id + '">' + check.name + '</a>');
    });
    $('#tag_checks').html(check_links.join('<br/>'));
  });
});
</script>
