<ul id="report_list">
</ul>
<script id="report_link_template" type="text/template">
<li>
  <a href="{{= url + new Date(month).getTime() }}">{{= moment(month).format('MMMM YYYY') }}</a>
</li>
</script>
<script>
$(document).ready(function() {
  $('a[data-toggle="tab"][href="#tagreports"]').one('shown', function(e) {
    var updateReportList = function() {
      var report_link_template = document.getElementById('report_link_template').innerHTML;
      var ejs = require('ejs');
      ejs.open = '{{';
      ejs.close = '}}';
      $.getJSON('<%= url %>', function(months) {
        var lines = [];
        $.each(months, function(key, month) {
          lines.push(ejs.render(report_link_template, { url: '<%= route %>/tags/<%= tag.name %>/report/', month: month }));
        });
        $('#report_list').html(lines.join(''));
      });
    }
    updateReportList();
  });
});
</script>