<h1>Checks</h1>
<table class="span4" style="margin: 0 auto">
  <tbody>
    <thead>
      <tr><th><span class="label success">Up</span></th><th><span class="label important">Down</label></th></tr>
    </thead>
    <tr style="font-size:3em"><td id="all_up" class="green"></td><td id="all_down" class="red"></td></tr>
  </tbody>
</table>
<table id="checks">
  <thead>
    <tr><th>Name</th><th>Up?</th><th>Uptime/Downtime</th></tr>
  </thead>
  <tbody></tbody>
</table>
<script src="<%= route %>/javascripts/ejs_production.js"></script>
<script src="<%= route %>/javascripts/view.js"></script>
<script>
$(document).ready(function() {
  var updateChecks = function() {
    $.getJSON('/api/check', function(checks) {
      var all_up = all_down = 0;
      var lines = [];
      $.each(checks, function(key, check) {
        if (check.isUp) all_up += 1; else all_down += 1;
        lines.push(new EJS({ url: '<%= route %>/partials/check.ejs' }).render({ check: check, route: '<%= route %>' }));
      });
      $('#checks tbody').html(lines.join(''));
      $('#all_up').text(all_up);
      $('#all_down').text(all_down);
    });
  }
  updateChecks();
  window.setInterval(updateChecks, 5000);
});
</script>