<h1>Checks</h1>

<% if (info.length) { %>
<div class="alert alert-success"><%= info %></div>
<% } %>

<table class="table" id="checks">
    <thead>
        <tr>
            <th>Name</th>
            <th style="width:20%">Status</th>
            <th style="width:35%" title="Outage periods in the last 24h">Uptime</th>
            <th style="width:15%" title="Average response time in the last 24h">Response Time</th>
            <th style="width: 100px">Actions</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>

<p class="help-block pull-right">* The stats above are from the last 24 hours only.</p>

<script>
jQuery(function($) {
    // highlight current section in main nav
    activateMenu(1);

    // make the chesk table sortable
    $('#checks').tablesorter({
        textExtraction: function(node) {
            return $(node).data('sort');
        },
        headers: {
            4: { sorter: false }
        },
        sortList: [[1,0]]
    });

    // Fill in the table
    var updateChecks = function(checks) {
        var updateChecksSection = function(checks) {
            var lines = [];
            var lastTest = 0;
            $.each(checks, function(key, check) {
                if (new Date(check.lastTested) > lastTest) {
                    lastTest = new Date(check.lastTested);
                }
                lines.push(window.templates.checkItem({ 
                    check: check, 
                    route: '<%= route %>' })
                );
            });
            $('#checks tbody').html(lines.join(''));
            $('#checks').trigger('update');
        }

        if (checks) {
            updateChecksSection(checks);
        } else {
            $.getJSON('/api/checks', updateChecksSection);
        }
    }

    updateChecks(<%- JSON.stringify(checks) %>);

    socket.on('CheckEvent', updateChecks);

    window.setInterval(updateChecks, 5 * 60 * 1000); // refresh every 5 minutes to update the qos scores

    // hide alert after 5s
    window.setTimeout(function() {
        $('h1 + div.alert').slideUp();
    }, 5000);

});
</script>
