<h1>Checks <small id="last_update"></small></h1>
<% if (info.length) { %>
<div class="alert alert-success"><%= info %></div>
<% } %>
<div style="text-align:right">
  <a class="btn btn-primary" href="<%= route %>/check">Create check</a>
</div>
<%- partial('_checks', { url: '/api/check', route: route }) %>
<script>
jQuery(document).ready(function($) {
  $('.navbar-inner li').eq(1).addClass('active');
});
</script>
