<h1>Checks</h1>
<table id="checks">
  <thead>
    <tr><th>Name</th><th>Up?</th><th>Uptime/Downtime</th></tr>
    <tbody></tbody>
  </thead>
</table>
<script src="<%= route %>/javascripts/ejs_production.js"></script>
<script>
$(document).ready(function() {
  var updateChecks = function() {
    $.getJSON('/api/check', function(checks) {
      var lines = [];
      $.each(checks, function(key, check) {
        lines.push(new EJS({ url: '<%= route %>/partials/check.ejs' }).render({ check: check }));
      });
      $('#checks tbody').html(lines.join(''));
    });
  }
  updateChecks();
  window.setInterval(updateChecks, 5000);
});
</script>