<h1>Create a new check</h1>
<% if (info.length) { %>
<div class="alert alert-success"><%= info %></div>
<% } %>
<%- partial('_check_details', { check: check, pollerCollection: pollerCollection, pollerDetails: '', route: route }) %>
<script>
jQuery(document).ready(function($) {
  $('.navbar-inner li').eq(1).addClass('active');
});
</script>
