<script src="<%= route %>/javascripts/jquery.timeago.js"></script>
<script src="<%= route %>/javascripts/ejs.min.js"></script>
<h1>
  Latest events
</h1>
<div id="events">
  <%- partial('_events', { url: '/api/pings/events', route: route }) %>
</div>
<script>
$(document).ready(function() {
  $('.navbar-inner li').eq(0).addClass('active');
});
</script>
