<h1>
  Latest events
</h1>
<table id="check_summary">
  <thead>
    <tr><th><span class="label label-success">Up</span></th><th><span class="label label-important">Down</label></th></tr>
  </thead>
  <tbody>
    <tr><td id="all_up" class="green"></td><td id="all_down" class="red"></td></tr>
  </tbody>
</table>
<ul id="events" class="unstyled">
</ul>
<script src="<%= route %>/javascripts/jquery.timeago.js"></script>
<script src="<%= route %>/javascripts/ejs.min.js"></script>
<script id="event_template" type="text/template">
<li>
  <span class="label">{{= new Date(event.timestamp).toLocaleTimeString() }}</span>
  <a href="{{=  route + '/check/' + event.check._id }}">{{= event.check.name }}</a>
  <a href="{{= event.check.url }}"><img src="{{= route }}/images/external-link-ltr-icon.png"></a>
  <span class="{{= (event.isGoDown ? 'red' : 'green') }}">{{= (event.isGoDown ? 'went down' : event.downtime ? 'went back up' : 'is now up') }}</span>
  {{ if (!event.isGoDown && event.downtime) { }}
  after {{= $.timeago.inWords(event.downtime) }} of downtime
  {{ } }}
</li>
</script>
<script>
$(document).ready(function() {
  $('.navbar-inner li').eq(0).addClass('active');
  $.timeago.settings.strings.suffixAgo = null;
  var event_template = document.getElementById('event_template').innerHTML;
  var ejs = require('ejs');
  ejs.open = '{{';
  ejs.close = '}}';
  var updateCounts = function() {
    $.getJSON('/api/check', function(checks) {
      if (checks.length == 0) {
        $('#events').after('<p>Couldn\'t find a check in the database. Start right away and <a href="<%= route %>/check">create a check</a>!</p>');
      };
      var all_up = all_down = 0;
      $.each(checks, function(key, check) {
        if (check.isUp) all_up += 1; else all_down += 1;
      });
      $('#all_up').text(all_up);
      $('#all_down').text(all_down);
    });
  }
  var updateEvents = function() {
    $.getJSON('/api/pings/events', function(events) {
      if (events.length == 0) {
        $('#events').after('<p>Nothing happened lately. All Green!</p>');
        return;
      }
      var lines = [];
      $.each(events, function(key, event) {
        lines.push(ejs.render(event_template, { event: event, route: '<%= route %>' }));
      });
      $('#events').html(lines.join(''));
    });
  }
  updateCounts();
  updateEvents();
});
</script>
