<h1>Tags <small id="last_update"></small></h1>
<table class="table chart" id="tags">
  <thead>
    <tr>
      <th>Name</th>
      <th title="Percentage of all pings up in the last 24h">Availability</th>
      <th title="Percentage of all pings below slow threshold in the last 24h">Responsiveness</th>
      <th title="Total downtime in the last 24h">Downtime</th>
      <th title="Average response time of all pings in the last 24h">Avg. Response time</th>
    </tr>
  </thead>
  <tbody></tbody>
</table>
<script src="<%= route %>/javascripts/jquery.tablesorter.min.js"></script>
<script src="<%= route %>/javascripts/ejs.min.js"></script>
<script id="tag_template" type="text/template">
<tr>
  <td data-sort="{{= tag.name }}"><a href="{{= route + '/tags/' + tag.name }}">{{= tag.name }}</a></td>
  <td data-sort="{{= tag.availability }}">{{= (tag.availability * 100).toFixed(3).replace('.000', '') }}%</td>
  <td data-sort="{{= tag.responsiveness }}">{{= (tag.responsiveness * 100).toFixed(3).replace('.000', '') }}%</td>
  <td data-sort="{{= tag.downtime }}">{{= tag.downtime < 300000 ? (tag.downtime / 1000).toFixed() + 's' : moment.duration(tag.downtime).humanize() }}</td>
  <td data-sort="{{= tag.responseTime }}">{{= Math.round(tag.responseTime) }}ms</td>
</tr>
</script>
<script>
jQuery(document).ready(function($) {
  $('.navbar-inner li').eq(2).addClass('active');
  $('#tags').tablesorter({
    textExtraction: function(node) {
      return $(node).data('sort');
    },
    sortList: [[0,0]]
  });
  var tag_template = document.getElementById('tag_template').innerHTML;
  var ejs = require('ejs');
  ejs.open = '{{';
  ejs.close = '}}';
  var updateTags = function() {
    $.getJSON('/api/tags', function(tags) {
      var lines = [];
      var lastUpdated;
      $.each(tags, function(key, tag) {
        lines.push(ejs.render(tag_template, { tag: tag, route: '<%= route %>' }));
        lastUpdated = tag.lastUpdated;
      });
      $('#tags tbody').html(lines.join(''));
      $('#tags').trigger('update');
      if( lastUpdated )
        $('#last_update').text('Last updated on ' + moment(lastUpdated).format('LLLL'));
    });
  }
  updateTags();
  window.setInterval(updateTags, 5 * 60 * 1000); // refresh every 5 minutes to update the qos scores
});
</script>
